@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Centra-Bold;
        src: url("/fonts/CentraNo2-Bold.ttf");
    }

    @font-face {
        font-family: Centra-Book;
        src: url("/fonts/CentraNo2-Book.ttf");
    }

    @font-face {
        font-family: Centra-Extrabold;
        src: url("/fonts/CentraNo2-Extrabold.ttf");
    }

    @font-face {
        font-family: Centra-Medium;
        src: url("/fonts/CentraNo2-Medium.ttf");
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    input[type="file"] {
        color: rgba(0, 0, 0, 0);
    }
}
